
body[data-path="login"] {
    background-image: url(/assets/orange_theme/image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffcf9ffa;
  }
body[data-path="login"] > nav {
    display: none !important;
}
body[data-path="login"] .page-card-head img {
    display: none !important;
}
.for-login .page-card-head > h4 {
    color: #707070d9 !important;
    text-shadow: -1px 2px 2px rgb(255 255 255);
}
.for-login .page-card, .for-forgot .page-card, .for-login-with-email-link .page-card, .for-signup .page-card, .for-email-login .page-card {
    background-color: #ffa773a6 !important;
    border-radius: 23px !important;
    border: 3px solid #ffffff !important;
    box-shadow: 1px 5px 11px 3px rgb(225 77 7 / 66%);
}
.main-section{
    background-color: #d4d4d4 !important;
}
.navbar {
    background: #ffd7bb;
    height: 69px;
    border-bottom: 4px solid #ff8117;
}
.navbar-home img {
    max-height: 50px !important;
    border: 3px solid #ebe1e1ab !important;
    border-radius: 30% !important;
}
#navbar-breadcrumbs a {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold; 
}
#navbar-breadcrumbs > li.disabled {
    color: #4a4a4afa;
}
.navbar .navbar-nav .nav-link {
     color: #4a4a4afa !important;
}
.widget {
    background-color: #ffffff00 !important;
}
.widget .widget-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}
.widget.quick-list-widget-box .widget-body {
    background-color: #ffb42a52;
}
.quick-list-widget-box{
    background-color: #ffe8bd52 !important;
    border-bottom: 3px solid #ff8117 !important;
}
.widget.shortcut-widget-box {
    text-decoration: underline !important;
    border-radius: 15px !important;
    background-color: #ffe8bd52 !important;
    border-bottom: 3px solid #ff8117 !important;
    align-items: center !important;
}
.widget.links-widget-box .link-item .link-content {

    padding: 9px !important;
    margin-bottom: 10px !important;
    border-radius: 15px !important;
    background-color: #ffe8bd52 !important;
    border-bottom: 3px solid #ff8117 !important;
}
.grid-body .data-row {
    font-size: 11px;
    align-items: center;
    height: 40px;
}
.copy_btn{
    float: left;
    height: 25px;
    font-size: 11px;
}
.widget.links-widget-box .link-item .link-content {
    width: 200px;
}
.chart-container {
    position: relative;
}
.modal .form-section .section-head {
	padding-top: 10px
}
.form-tabs-list .form-tabs .nav-item  {
    background: #e1dad72e;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid #00000026;
}
.form-tab-content {
    border: 1px solid #00000026;
}
.form-tabs-list .form-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid #ff8014fa;
    color: #ff4700fa;
    font-weight: 900 !important;
}
.avatar-medium {
    width: 50px;
    height: 50px;
}
.avatar .standard-image {
    border-radius: 30%;
}
.for-login .page-card .page-card-body .password-field .toggle-password{
    right: 9px !important;
}
.desk-sidebar-item{
    margin-top: 15px;
}
.search-bar {
    max-width: 100% !important;
}
.search-bar .awesomplete input {
    height: 35px !important;
}
#navbar-search {
    direction: ltr !important;
}
#first-navbar {
    height: 70px;
}
.section-head {
    background-color: #ffb42a52 !important;
    border-bottom: 2px solid #ff8014fa !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.form-tabs-list {
    background-color: #ffffff00 !important;
}
.form-in-grid {
    border: 3px solid #ff8014fa !important;
}
.grid-footer {
    background-color: #ffffff00 !important;
}
.grid-heading-row {
    border-bottom: 1px solid #ff8014fa;
    color: #141414;
    background-color: #ffe7bba3;
    height: 32px;
 
}
.standard-sidebar-item.selected {
    background-color: #b9999552 !important;
    border-left: 6px solid #ff8100;
}
.standard-sidebar-item {
    --icon-stroke: #ff8100;
}
.desk-sidebar-item:hover{
    background-color: #ff8100  !important;
}
.new-timeline .timeline-item {
    background-color: #fef0ff00 !important;
}
.timeline-actions {
     background-color: #f0f8ff00 !important;
}
input[type="checkbox"] {
    background-color: white;
}
.ce-header  {
    border-bottom: 1px solid #8b2405de !important;
    padding: 15px !important;
}  
.quick-list-widget-box >.widget-head {
	border: solid 1px #ff8014fa;
	border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
	background-color: white;
}
.layout-main-section {
    background-color: #fcfcfc00;
}
.ce-header > .h4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.page-form {
    background-color: #ffd7bb;
    border-bottom: solid 1px #ff8014fa;
    border-radius: 0px !important;
}
.list-paging-area {
    background-color: #ffd7bb;
    border-bottom: solid 1px #ff8014fa;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0px !important;
}
.quick-list-item {
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0px !important;
}
.avatar .standard-image {
    background-color: #ff8117 !important;
    color: #fdffff !important;
    border: 3px solid #ffffff;
}
.btn.btn-primary, div#driver-popover-item .driver-popover-footer button.btn-primary, div#driver-popover-item .driver-popover-footer button.driver-next-btn {
    background-color: blue !important;
}